<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>Cast your vote</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class="container">
		<p>You cast: <%= Choices[@vote] %></p>
		<p><a href='/results'>See results!</a></p>
	</body>	
</html>