<!DOCTYPE html
<html>
	<head>
		<meta charset='UTF-8' />
		<title>Voting Time</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<head>
	<body class="container">
		<p> Voting Time, please vote for your favourite project and contribute !
		<form action='cast' method='post'>
			<ul class='unstyled'>
				<% Choices.each do |id, text|%>
					<li>
						<label class='radio'>
							<input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
							<%= text %>
						</label>
					</li>
				<% end %>
			</ul>
			<button type='submit' class='btn btn-primary'>Cast your vote!</button>
		</form>
	</body>
</html>
