<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>Vote</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class= 'container'>
		<h1><br><%= @title %></br></h1>
		<hr align="center">
		<%= yield %>
	</body>	
</html>